{{#>header coverbg="/img/svgs/covers/front-page-cover.svg" grid=true topHeightClass="top700"}}
<article class="left">
    <h1 class="fph1">404 - Siden blev ikke fundet</h1>
    <p class="subheading">Vi kunne ikke finde det, som du søgte. Vi anbefaler, at du går tilbage til forsiden.</p>
    <a href="/" class="btn">Tilbage til forsiden</a>
</article>
<article class="right">
    <img src="/img/svgs/mobile-app.svg" loading="lazy">
</article>
{{/header}}

<div class="container-et-eb">
    <h2>... Eller besøger vores mest populære kategorier</h2>
    <ul>
        <li><a href="/">Forside</a></li>
        <li><a href="/priser">Priser</a></li>
        <li><a href="/integrationer"> Integrationer</a></li>
        <li><a href="/integrationer/dinero">- Dinero</a></li>
        <li><a href="/support">Support</a></li>
        <li><a href="/support/integrationer">- Integrationer</a></li>
        <li><a href="/om">Om</a></li>
    </ul>

</div>

{{>footer}}