{{#>header coverbg="/img/svgs/covers/front-page-cover.svg" grid=true topHeightClass="top700"}}
<article class="left">
    <h1 class="fph1">Forbind <span class="effect"></span></h1>
    <p class="subheading">Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem
        Ipsum har været
        standard
        fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en
        bog
        til
        sammenligning af forskellige skrifttyper.</p>
    <a href="/" class="btn">Opret bruger</a>
</article>
<article class="right">
    <img src="/img/svgs/mobile-app.svg" loading="lazy">
</article>
{{/header}}

{{!-- Connect your company - 3 grids --}}

<div class="container">
    <h2 class="text-center">Forbind din virksomhed</h2>

    <section class="grid-3 company-connect">
        <article class="company-connect_grid">
            <img src="/img/svgs/selfie.svg" loading="lazy">
            <h3>Sammensæt din data</h3>
            <p>Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard
                fyldtekst siden 1500-tallet</p>
        </article>
        <article class="company-connect_grid">
            <img src="/img/svgs/selfie.svg" loading="lazy">
            <h3>Sammensæt din data</h3>
            <p>Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard
                fyldtekst siden 1500-tallet</p>
        </article>
        <article class="company-connect_grid">
            <img src="/img/svgs/selfie.svg" loading="lazy">
            <h3>Sammensæt din data</h3>
            <p>Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været
                standard
                fyldtekst siden 1500-tallet</p>
        </article>
    </section>
</div>



{{!-- With 2 grid reverse text images --}}

<section class="container grid-2">
    <article class="twoGrid_grid img1">
        <img src="/img/svgs/tasks.svg" loading="lazy">
    </article>
    <article class="twoGrid_grid text1">
        <h2>Alle dine vigtigste data samlet et sted</h2>
        <p>Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været
            standard
            fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en
            bog
            til sammenligning af forskellige skrifttyper.</p>
        <a href="#" class="btn">Opret bruger</a>
    </article>
    <article class="twoGrid_grid text2">
        <h2>Alle dine vigtigste data samlet et sted</h2>
        <p>Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været
            standard
            fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en
            bog
            til sammenligning af forskellige skrifttyper.</p>
        <a href="#" class="btn">Opret bruger</a>
    </article>
    <article class="twoGrid_grid img2">
        <img src="/img/svgs/tasks.svg" loading="lazy">
    </article>
</section>


{{!-- Integrations --}}

<div class="container-eb integrations">
    {{>headerh2icon imgsrc="/img/pngs/icons/integration.png" imgalt="integration-icon" title="Integrationer"}}
    <section class="grid-3">
        <article class="integration_grid">
            <img src="/img/pngs/dinero.png" loading="lazy">
        </article>
        <article class="integration_grid">
            <img src="/img/pngs/dinero.png" loading="lazy">
        </article>
        <article class="integration_grid">
            <img src="/img/pngs/dinero.png" loading="lazy">
        </article>
        <article class="integration_grid">
            <img src="/img/pngs/dinero.png" loading="lazy">
        </article>
        <article class="integration_grid">
            <img src="/img/pngs/dinero.png" loading="lazy">
        </article>
        <article class="integration_grid">
            <img src="/img/pngs/dinero.png" loading="lazy">
        </article>
    </section>
    <a href="#" class="infolink">Se alle 25 integrationer <i class="fas fa-arrow-right"></i></a>
</div>


{{>happycostumers}}

{{!-- Get started with NYXIUM today --}}

{{>getstarted}}


<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
{{>footer}}