{{#>header coverbg="/img/svgs/covers/lilla-cover.svg" topHeightClass="top600"}}

<h1>Kontakt os</h1>
<p class="subheading">Spørgsmål? Kontakt os i dag!</p>

<section class="grid-2 kontakt">
    <article>
        <img src="/img/pngs/icons/phone.png">
        <h3>Call support</h3>
        <p>We love to talk! KappaPride</p>
        <a href="tel">+45 2475 1632</a>
    </article>
    <article>
        <img src="/img/pngs/icons/mail.png">
        <h3>E-mail support</h3>
        <p>We love to talk! KappaPride</p>
        <a href="mailto:help@nyxium.dk">help@nyxium.dk</a>
    </article>
</section>

{{/header}}

<div class="container-et">
    {{>headerh2icon imgsrc="/img/pngs/icons/pin.png" imgalt="pin-icon" title="Her kan du finde os"}}

    <section class="grid-2/1/3 container">
        <article class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2275.306882300267!2d11.75605731591032!3d55.23036398041684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652be86ae03c821%3A0x4a34475b25de5a28!2sAxeltorv%205%2C%204700%20N%C3%A6stved!5e0!3m2!1sda!2sdk!4v1582292299078!5m2!1sda!2sdk"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </article>
        <article>
            <h3>Hovedkvarter</h3>
            <p></p>
        </article>

    </section>
</div>


<div class="twoGrid">

    {{!-- With 2 grid reverse text images --}}

    <section class="container-et-eb grid-2 pb50">
        <article class="twoGrid_grid img1">
            <img src="/img/svgs/om-placeholder.svg" loading="lazy">
        </article>
        <article class="twoGrid_grid text1">
            <h2>Alle dine vigtigste data samlet et sted</h2>
            <p>Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været
                standard
                fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en
                bog
                til sammenligning af forskellige skrifttyper.</p>
            <a href="#" class="btn">Opret bruger</a>
        </article>
        <article class="twoGrid_grid text2">
            <h2>Alle dine vigtigste data samlet et sted</h2>
            <p>Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været
                standard
                fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en
                bog
                til sammenligning af forskellige skrifttyper.</p>
            <a href="#" class="btn">Opret bruger</a>
        </article>
        <article class="twoGrid_grid img2">
            <img src="/img/svgs/om-placeholder.svg" loading="lazy">
        </article>
    </section>
</div>

<div class="teamWrapper container text-center">
    {{>headerh2icon imgsrc="/img/pngs/icons/team.png" imgalt="integration-icon" title="Mød teamet"}}
    <section class="team grid-3">
        <article class="member">
            <img src="/img/pngs/teammember-placeholder.png">
            <h3>Mikkel Lundstrøm</h3>
            <p>Disc-jockey</p>
        </article>
        <article class="member">
            <img src="/img/pngs/teammember-placeholder.png">
            <h3>Mikkel Lundstrøm</h3>
            <p>Disc-jockey</p>
        </article>
        <article class="member">
            <img src="/img/pngs/teammember-placeholder.png">
            <h3>Mikkel Lundstrøm</h3>
            <p>Disc-jockey</p>
        </article>
    </section>
</div>

{{!-- Get started with NYXIUM today --}}

{{>getstarted}}
{{>footer}}