{{#>header coverbg="/img/svgs/covers/lilla-cover.svg" topHeightClass="top600"}}

<h1>Kontakt os</h1>
<p class="subheading">Spørgsmål? Kontakt os i dag!</p>

<section class="grid-2 kontakt">
    <article>
        <img src="/img/pngs/icons/phone.png">
        <h3>Call support</h3>
        <p>We love to talk! KappaPride</p>
        <a href="tel">+45 2475 1632</a>
    </article>
    <article>
        <img src="/img/pngs/icons/mail.png">
        <h3>E-mail support</h3>
        <p>We love to talk! KappaPride</p>
        <a href="mailto:help@nyxium.dk">help@nyxium.dk</a>
    </article>
</section>

{{/header}}

<div class="container-et-eb">
    {{>headerh2icon imgsrc="/img/pngs/icons/pin.png" imgalt="pin-icon" title="Her kan du finde os"}}

    <section class="grid-2-2-1 container">
        <article class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2275.306882300267!2d11.75605731591032!3d55.23036398041684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652be86ae03c821%3A0x4a34475b25de5a28!2sAxeltorv%205%2C%204700%20N%C3%A6stved!5e0!3m2!1sda!2sdk!4v1582292299078!5m2!1sda!2sdk"
                frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </article>
        <article>
            <h3>Hovedkvarter</h3>

            <ul>
                <li>
                    <p>Nyxium ApS</p>
                </li>
                <li>
                    <p>Maglemølle 97</p>
                </li>
                <li>
                    <p>4700 Næstved</p>
                </li>
                <li>
                    <p>Denmark</p>
                </li>
            </ul>

            <ul>
                <li>
                    <p>CVR: XXXXXX</p>
                </li>
                <li>
                    <p>Bank: XXXXXX</p>
                </li>
                <li>
                    <p>Revisor: XXXXXX</p>
                </li>
            </ul>
        </article>

    </section>
</div>



{{!-- Get started with NYXIUM today --}}

{{>getstarted}}
{{>footer}}