{{!-- Holds the BG picture  --}}

{{#>header coverbg="/img/svgs/covers/priser-cover.svg"}}

<h1>Priser</h1>
<p class="subheading">Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været
    standard fyldtekst siden 1500-tallet, hvor en ukendt trykker.</p>


<article class="price">
    <div class="price-box">
        <p class="type">Starter</p>
        <p class="pprice">49 DKK</p>
        <p class="description">Perfekt til dem der vil se Nyxium an</p>
        <p class="features"><img src="img/jpgs/price-circle-green.jpg">1 integration</p>
        <p class="features"><img src="img/jpgs/price-circle-green.jpg">1 bruger</p>
        <p class="features"><img src="img/jpgs/price-circle-green.jpg">Gratis oprettelse</p>
        <a href="#" class="btn btn-fullwidth">Opret bruger</a>
    </div>
    <div class="price-box">
        <p class="type blue">Pro</p>
        <p class="pprice">79 DKK</p>
        <p class="description">Perfekt til den mindre forretning</p>
        <p class="features"><img src="img/jpgs/price-circle-blue.jpg">3 integration</p>
        <p class="features"><img src="img/jpgs/price-circle-blue.jpg">5 bruger</p>  
        <p class="features"><img src="img/jpgs/price-circle-blue.jpg">Gratis oprettelse</p>
        <a href="#" class="btn btn-fullwidth blue-bg">Opret bruger</a>
    </div>
    <div class="price-box">
        <p class="type purple">Business</p>
        <p class="pprice">99 DKK</p>
        <p class="description">Perfekt til den store forretning</p>
        <p class="features"><img src="img/jpgs/price-circle-purple.jpg">Alle integrationer</p>
        <p class="features"><img src="img/jpgs/price-circle-purple.jpg">Ubegrænset brugere</p>
        <p class="features"><img src="img/jpgs/price-circle-purple.jpg">Gratis oprettelse</p>
        <a href="#" class="btn btn-fullwidth purple-bg">Opret bruger</a>
    </div>
</article>

{{/header}}






<section class="integrations-overview container-et-eb text-center">
    {{>headerh2icon imgsrc="/img/pngs/icons/puzzle.png" imgalt="puzzle-icon" title="Tillægsmoduler"}}
    <p>Som bruger af Nyxium kan du let og hurtigt udvide din løsning.</p>
    <p>Som bruger af Nyxium kan du let og hurtigt udvide din løsning.</p>

    <article class="integrationprice">
        <div class="integrationprice-left">
            <img src="/img/pngs/icons/integration.png">
            <p>Ekstra integrationer</p>
        </div>
        <p>+ 49 DKK</p>
    </article>
    <article class="integrationprice">
        <div class="integrationprice-left">
            <img src="/img/pngs/icons/account.png">
            <p>Ekstra integrationer</p>
        </div>
        <p>+ 49 DKK</p>
    </article>

</section>

{{>happycostumers}} {{!-- Get started with NYXIUM today --}} {{>getstarted}} {{>footer}}