{{#>header coverbg="/img/svgs/front-page-cover.svg"}}
<h1 class="fph1">Forbind <span class="effect"></span></h1>
<p class="subheading">Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem
    Ipsum har været
    standard
    fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en
    bog
    til
    sammenligning af forskellige skrifttyper.</p>
<a href="/" class="btn">Opret bruger</a>
</article>
<article class="right">
    <img src="/img/svgs/mobile-app.svg" loading="lazy">
</article>
{{/header}}