<script src="http://localhost:3000/reload/reload.js"></script>
<script src="../js/front.js"></script>

<footer>
    <div class="columns">


        <div class="column">
            <h3>Løsninger</h3>
            <a href="#">Menupunkt 1</a>
            <a href="#">Menupunkt 2</a>
            <a href="#">Menupunkt 3</a>
            <a href="#">Menupunkt 4</a>
        </div>
        <div class="column">
            <h3>Support</h3>
            <a href="#">Menupunkt 1</a>
            <a href="#">Menupunkt 2</a>
            <a href="#">Menupunkt 3</a>
            <a href="#">Menupunkt 4</a>
        </div>
        <div class="column">
            <h3>Nyxium</h3>
            <a href="#">Menupunkt 1</a>
            <a href="#">Menupunkt 2</a>
            <a href="#">Menupunkt 3</a>
            <a href="#">Menupunkt 4</a>
        </div>

        <div class="column">
            <a href="#">FB</a>
            <a href="#">LN</a>
            <a href="#">IG</a>
        </div>
    </div>
</footer>


</body>

</html>