<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{metaTitle}}</title>
    <meta name="Description" content="Put your description here.">
    <script src="https://kit.fontawesome.com/e061cad298.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/scss/styles.css">

    <style>
        .top {
            background-image: url({{coverbg}});
            background-size: cover;
            background-position: bottom;
        }
    </style>
</head>
<div class="top {{topHeightClass}}">
    <header>
        <div class="header-wrapper">
            <div class="logo"><a href="/">Nyxium</a></div>
            <div class="burger">
                <span class="bars"></span>
            </div>
            <nav class="nav">
                <a href="#">Funktioner</a>
                <a href="/integrationer">Integrationer</a>
                <a href="/priser">Priser</a>
                <a href="/support">Support</a>
            </nav>
        </div>
    </header>

    <body>
        {{#if grid}}
        <section class="cover_content cover_content-grid">
            {{> @partial-block}}
        </section>
        {{else}}

        <section class="cover_content cover_content-nogrid">
            {{> @partial-block}}
        </section>
        {{/if}}

</div>