.testimonials {
    h2 {
        margin-bottom: $m50;
    }
    
    .testimonials_grid {

        opacity: 0;
        
        .text {
            background-color: $lightgray;
            padding: $m15;
            box-shadow: $box-shadow;
        }

        .img {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-top: $m30;

                p {
                    font-weight: 700;
                    margin-top: 7.5px;
                    margin-bottom: 7.5px;
                }
                img {
                    width: 80px;
                    height: auto;
                    margin-right: $m30;
                }
        }
    }

    .testimonials-pop {
        transition: opacity 300ms ease-in-out;
        opacity: 1;
    }


}