    .twoGrid {
        justify-items: center;
        overflow-x:hidden;
        grid-gap: $m50;
      
        .grid-2 {
            align-items: center;
            justify-items: center;

                    .text1, .text2 {
            opacity: 0;
        }


        img {
          max-height: 350px;
        }

        }




    }

    @media (max-width: 800px) {
        .twoGrid {
            text-align: center;

            .grid-2 {

                grid-template-areas:
                'img1'
                'text1'
                'img2'
                'text2';
                .text1 {
                    grid-area: text1;
                    margin-bottom: $m50;
                }
                .img1 {
                    grid-area: img1;
                }
                .text2 {
                    grid-area: text2;
                }
                .img2 {
                    grid-area: img2;
                }
            }
        }
    }


    .slide-left {
        -webkit-animation: slide-left 1.6s cubic-bezier(0.445, 0.050, 0.550, 0.950) both;
                animation: slide-left 1.6s cubic-bezier(0.445, 0.050, 0.550, 0.950) both;
    }

  @keyframes slide-left {
    0% {
        opacity: 0;
      -webkit-transform: translateX(400px);
              transform: translateX(400px);
    }
    100% {
        opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }

    .slide-left {
        -webkit-animation: slide-left 1.6s cubic-bezier(0.445, 0.050, 0.550, 0.950) both;
                animation: slide-left 1.6s cubic-bezier(0.445, 0.050, 0.550, 0.950) both;
    }

  @keyframes slide-left {
    0% {
        opacity: 0;
      -webkit-transform: translateX(400px);
              transform: translateX(400px);
    }
    100% {
        opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
      
  .slide-right {
	-webkit-animation: slide-right 1.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 1.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
        
@-webkit-keyframes slide-right {
    0% {
        opacity: 0;
      -webkit-transform: translateX(-400px);
              transform: translateX(-400px);
    }
    100% {
        opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes slide-right {
    0% {
        opacity: 0;
      -webkit-transform: translateX(-400px);
              transform: translateX(-400px);
    }
    100% {
        opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  
