{{#>header coverbg="/img/svgs/covers/integration-testcover.svg" grid=true topHeightClass="top600"}}
<article class="left">
    <h1>Integrationer</h1>
    <p class="subheading">Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem
        Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for
        at trykke en
        bog til sammenligning af forskellige skrifttyper.</p>
    <a href="/" class="btn">Opret bruger</a>
</article>
<article class="right">
    <img src="/img/svgs/multiple-dinero.svg" loading="lazy" class="eheight">
</article>
{{/header}}

{{!-- Integrations --}}

<div class="container-et-eb pb50 integrations">
    {{>headerh2icon imgsrc="/img/pngs/icons/integration.png" imgalt="integration-icon" title="Integrationer"}}
    <section class="grid-3">
        <article class="integration_grid">
            <img src="/img/pngs/dinero.png" loading="lazy">
        </article>
        <article class="integration_grid">
            <img src="/img/pngs/dinero.png" loading="lazy">
        </article>
        <article class="integration_grid">
            <img src="/img/pngs/dinero.png" loading="lazy">
        </article>
        <article class="integration_grid">
            <img src="/img/pngs/dinero.png" loading="lazy">
        </article>
        <article class="integration_grid">
            <img src="/img/pngs/dinero.png" loading="lazy">
        </article>
        <article class="integration_grid">
            <img src="/img/pngs/dinero.png" loading="lazy">
        </article>
    </section>
</div>


{{!-- With 2 grid reverse text images --}}
{{>twoGrid
firstImage="/img/svgs/tasks.svg" alt="james"
firstH2="Alle dine vigtigste data samlet et sted"
firstP="Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper."
secondImage="/img/svgs/tasks.svg" alt="james"
secondH2="Alle dine vigtigste data samlet et sted"
secondP="Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper."
}}


{{>getstarted}}
{{>footer}}