{{#>header coverbg="/img/svgs/covers/support-cover.svg" topHeightClass="top600"}}

<h1>Hvordan installerer jeg en integration?</h1>
{{/header}}


<div class="breadcrumbs_div container text-center">
    <a href="/support">Support</a> <i class="fas fa-chevron-right"></i>
    <a href="/support/integrationer">Integrationer</a> <i class="fas fa-chevron-right"></i>
    <p>Hvordan installerer jeg en integration?</p>
</div>

<section class="article-blog container-eb">
    <p>Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard
        fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til
        sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder, men har også
        vundet indpas i elektronisk typografi uden væsentlige ændringer. Sætningen blev gjordt kendt i 1960'erne med
        lanceringen af Letraset-ark, som indeholdt afsnit med Lorem Ipsum, og senere med layoutprogrammer som Aldus
        PageMaker, som også indeholdt en udgave af Lorem Ipsum.</p>
    <h2>Sæt din data sammen</h2>
    <p>Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard
        fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til
        sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder, men har også
        vundet indpas i elektronisk typografi uden væsentlige ændringer. Sætningen blev gjordt kendt i 1960'erne med
        lanceringen af Letraset-ark, som indeholdt afsnit med Lorem Ipsum, og senere med layoutprogrammer som Aldus
        PageMaker, som også indeholdt en udgave af Lorem Ipsum.</p>
    <p>Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard
        fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til
        sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder, men har også
        vundet indpas i elektronisk typografi uden væsentlige ændringer. Sætningen blev gjordt kendt i 1960'erne med
        lanceringen af Letraset-ark, som indeholdt afsnit med Lorem Ipsum, og senere med layoutprogrammer som Aldus
        PageMaker, som også indeholdt en udgave af Lorem Ipsum.</p>
    <p>Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard
        fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til
        sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder.</p>
</section>


{{>footer}}