{{#>header coverbg="/img/svgs/covers/support-cover.svg"}}
<h1>Support</h1>
<p class="subheading">Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem
    Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for
    at trykke en
    bog til sammenligning af forskellige skrifttyper.</p>
{{/header}}


{{!-- support grid --}}

<div class="container-et-eb support pb50 text-center">
    <div class="header-icons">
        <img src="/img/pngs/icons/rocket.png">
        <img src="/img/pngs/icons/rocket.png">
    </div>
    <h2>Hvad søger du hjælp til?</h2>
    <section class="grid-3">
        <article class="support_grid">
            <div class="support_grid-img">
                <img src="/img/pngs/icons/chart.png" loading="lazy">
            </div>
            <div class="support_grid-text">
                <h3>Kom godt igang</h3>
                <p>A little loreum ipsum have never heard anybody kekw</p>
            </div>
        </article>
        <article class="support_grid">
            <div class="support_grid-img">
                <img src="/img/pngs/icons/chart.png" loading="lazy">
            </div>
            <div class="support_grid-text">
                <h3>Kom godt igang</h3>
                <p>A little loreum ipsum have never heard anybody kekw</p>
            </div>
        </article>
        <article class="support_grid">
            <div class="support_grid-img">
                <img src="/img/pngs/icons/chart.png" loading="lazy">
            </div>
            <div class="support_grid-text">
                <h3>Kom godt igang</h3>
                <p>A little loreum ipsum have never heard anybody kekw</p>
            </div>
        </article>
        <article class="support_grid">
            <div class="support_grid-img">
                <img src="/img/pngs/icons/chart.png" loading="lazy">
            </div>
            <div class="support_grid-text">
                <h3>Kom godt igang</h3>
                <p>A little loreum ipsum have never heard anybody kekw</p>
            </div>
        </article>
        <article class="support_grid">
            <div class="support_grid-img">
                <img src="/img/pngs/icons/chart.png" loading="lazy">
            </div>
            <div class="support_grid-text">
                <h3>Kom godt igang</h3>
                <p>A little loreum ipsum have never heard anybody kekw</p>
            </div>
        </article>
        <article class="support_grid">
            <div class="support_grid-img">
                <img src="/img/pngs/icons/chart.png" loading="lazy">
            </div>
            <div class="support_grid-text">
                <h3>Kom godt igang</h3>
                <p>A little loreum ipsum have never heard anybody kekw</p>
            </div>
        </article>
    </section>
</div>
{{>footer}}