
.btn {
    background-color: $green;
    color: white;
    padding: 10px 30px;
    display: inline-block;
    margin-top: $m15;
    border-radius: 5px;

    &:hover {
        background-color: $darkgreen;
        color: white;
    }
}

.btn-fullwidth {
    display: block;
    text-align: center;
    padding: 15px 30px;
    margin-top: $m30;
}

.headercircle {
    width: 35px;
    margin-left: $m30;
}

.circleheader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-center {
    text-align: center;
}




// Containers

.container {
    max-width: $mw;
    margin: 0 auto;
    margin-top: $m50;
    margin-bottom: $m50;
}

.container-nmw {
    margin-top: $m50;
    margin-bottom: $m50;
}

.container-eb {
    max-width: $mw;
    margin: 0 auto;
    margin-top: $m50;
    margin-bottom: $m100;
}


.container-et {
    max-width: $mw;
    margin: 0 auto;
    margin-bottom: $m50;
    padding-top: $m100;
}
.container-et-eb {
    max-width: $mw;
    margin: 0 auto;
    margin-bottom: $m100;
    margin-top: $m100;
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $m50;

    img {
        max-width: 100%;
    }
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $m50;
    img {
        max-width: 100%;
    }
}

.grid-2-2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: $m50;
}

iframe {
    min-height: 400px;
    width: 100%;
}


.breadcrumbs_div {
    
a {
    color: $darkgray;
    font-size: 14px;
    &:hover {
        color: $darkgray;
        border-bottom: 1px solid $darkgray;
    }
}
i {
    font-size: 12px;
    margin: 0px $m10;
}
p {
    display: inline-block;
    font-size: 14px;
}
}
ul {
    padding-left: 0px;
    margin-bottom: $m30;
    li {
        list-style-type: none;
        margin-left: 0px;
        margin-bottom: $m5;
        p {
            margin-bottom: 0px;
            margin-top: 0px;
        }
    }
}



@media (max-width: 1340px) {
    .container, .container-eb, .container-et, .container-et-eb  {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media(max-width: 800px) {


    .grid-3, .grid-2, .grid-2-2-1 {
        grid-gap: $m30;
        grid-template-columns: 1fr;

    }



    .pb50 {
        padding-bottom: 50px;
    }

    .container-et-eb, .container-et {
        margin-top: 50px;
    }
    .container-et-eb, .container-eb {
        margin-bottom: 50px;
    }
}



