// Colors
$darkmain: #311B92;
$lightmain: #673AB7;
$darkmain: rgb(101, 51, 189);
$fontcolor: #37474F;
$green: #1BDDAC;
$blue: #00B0FF;
$bluehover: rgb(6, 120, 173);
$purple: #B216E9;
$darkpurple: rgb(146, 19, 192); 
$darkgreen: rgb(27, 202, 158);
$maingradient: linear-gradient(90deg, #311B92 0%, #673AB7 100%);
$stdlinkcolor: #6C63FF;
$lightgray: #F9F9F9;
$gray: #C4C4C4;
$darkgray: #33475B;
$box-shadow: 0 3px 5px 0px rgba(255, 255, 255, 0.055), 0 3px 5px 0 rgba(14, 30, 37, 0.178);

// fonts

$subheading: 2rem;

// Width

$mw: 1300px;


// margins, paddings

$m5: 5px;
$m10: 10px;
$m15: 15px;
$m30: 30px;
$m50: 50px;
$m100: 100px;
$m150: 150px;
$m200: 200px;

