<section class="get-started container-eb text-center pb50">

    {{>headerh2icon imgsrc="/img/pngs/icons/bg-rocket.png" imgalt="rocket-icon" title="Kom i gang med at bruge Nyxium i dag"}}
    <p>Her kan der være plads til en relevant taglinje, der lige skubber kunden det sidste stykker over rampen.</p>
    <a href="#" class="btn">Opret bruger</a>
</section>