{{!-- Happy costumers -- Reviews --}}

<div class="container-eb testimonials">
    {{>headerh2icon imgsrc="/img/pngs/icons/smile.png" imgalt="smile-icon" title="Vi har glade kunder"}}

    <section class="grid-3">
        <article class="testimonials_grid">
            <div class="text">
                <p>“Nyxium har gjort min dagligdag så meget nemmere.
                    Jeg kan klart anbefale at bruge programmet. ”</p>
            </div>
            <div class="img">
                <img src="img/pngs/mikkel.png" loading="lazy">
                <div class="right">
                    <p>Mikkel Lundstrøm</p>
                    <p>SoMe ekspert</p>
                </div>
            </div>
        </article>
        <article class="testimonials_grid">
            <div class="text">
                <p>“Nyxium har gjort min dagligdag så meget nemmere.
                    Jeg kan klart anbefale at bruge programmet. ”</p>
            </div>
            <div class="img">
                <img src="img/pngs/mikkel.png" loading="lazy">
                <div class="right">
                    <p>Mikkel Lundstrøm</p>
                    <p>Owner, Beverly</p>
                </div>
            </div>
        </article>
        <article class="testimonials_grid" loading="lazy">
            <div class="text">
                <p>“Nyxium har gjort min dagligdag så meget nemmere.
                    Jeg kan klart anbefale at bruge programmet. ”</p>
            </div>
            <div class="img">
                <img src="img/pngs/mikkel.png" loading="lazy">
                <div class="right">
                    <p>Mikkel Lundstrøm</p>
                    <p>Owner, Beverly</p>
                </div>
            </div>
        </article>
    </section>
</div>